body{
    background-color: #FAEEE7;
    margin: 0 !important;
}
#hype{
    background-color: rgb(36, 161, 157);
    height: 500px;
    /* width: 200px; */
    border-bottom: solid 3px#04009A ;
    border-bottom-left-radius:40px ;
    border-bottom-right-radius:40px ;
}
a{
    text-decoration: none;
    color: #FAEEE7;
    text-shadow:1px 1px rgb(217, 96, 152);
}

#heading{
    font-family: 'Aclonica', sans-serif;
    color: #FAEEE7;
    display: flex ;
    /* font-size: ; */  
    margin: 0 ;
    padding: 0 1%;
    align-items: center;
    text-shadow:2px 1px rgb(217, 96, 152);
    text-decoration: underline 2px solid ;
}
.home:hover{
    color: rgb(217, 96, 152);
    text-shadow:none;
}
.home{
 font-family: 'Aclonica', sans-serif;
 padding: 0px 10px;
 align-content: center;
}
/* #gallery{
 font-family: 'Aclonica', sans-serif;
 padding: 0px 10px;
}
#about{
 font-family: 'Aclonica', sans-serif;
 padding: 0px 10px;
}
#social{
 font-family: 'Aclonica', sans-serif;
 padding: 0px 10px;
}  */

#nav-text{
    /* font-family: 'Aclonica', sans-serif; */
    /* display: flex; */
    /* justify-items: flex-end; */
    /* align-items: center; */
    position: absolute;
    /* left: 54% ; */
    right: .1%;
    padding: 1.5vw;
     
  
}
#nav{
    background-color: rgb(50, 82, 136);
    display: flex;
    justify-items: space-between ;
    margin: 0;
    height: 50px;
    border: solid #FAEEE7 ;
    border-top: 0;
    border-bottom: -10px;
    border-left: 0;
    border-right: 0;

}
#list{
    padding: 1vw    ;
}
#me{
    height: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
    box-shadow: 4px;
    border-style: solid ;
    border-color: #998CEB;
    border-radius: 50%;
    border-width: 3px   
    /* display: ; */

}
#cntr-img{
    padding-top: 6% ;
}
#mh{
    font-family: 'Aclonica', sans-serif;
    color:#FFC900 ;
    
}
#in{
    font-family: 'Aclonica', sans-serif;
    color: #FFC900;
    position: relative;
    left: 80%;
}
#place{
        position: absolute;
        left: 25%;
        top: 25%;
        text-shadow:2px 1px rgb(217, 96, 152);
}
#content{
   
    

}
#content-box{
    margin:75px 180px;
    height: 1100px;
    background-color: bisque;
    border-style: groove ;
    box-shadow: 2px 2px 5px #9198e5;
}
#content-gallery{
    font-family: 'Aclonica', sans-serif;
    padding: 10px;
    color:#143A52 ;
    text-shadow: 10px;
    text-decoration: underline 2px dotted ;
}
#container{
    display:grid;
    grid-template-columns: 300px 300px;
    grid-gap: 1px 00px ;
    align-self: center;
    justify-items: center;
    justify-content: space-around;
}
#one{
    width:300px;
    
    
    /* border: rgb(217, 96, 152) solid 3px;
    border-radius: 3px 3px ;
    box-shadow:6px 1px 0px rgb(50, 82, 136); */
}
#two{
    width:300px;
    
}
#three{
    width:300px;
}
#four{
    width:300px;
}
#five{
    width:300px;
}
#six{
    width:300px;
}
#about-box{
    font-family:'Aclonica', sans-serif;
    text-align: center;
    margin-bottom: 300px;
    
}
#social{
    background-color: #9198e5;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    /* position: fixed; */
    
}
#social-link{
    font-family: 'Aclonica', sans-serif;
    color:#143A52 ;
    /* text-align: center; */
    margin: 0 80px;
}
#social-link:hover{
    background-color: rgba(255, 255, 255, 0.144);
    border-radius: 8px;
}