body{
    /* background-color: rgb(36, 161, 157); */
    margin: 0 !important;
}
#hype{
    background-color: rgb(36, 161, 157);
    height: 500px;
    
}
a{
    text-decoration: none;
    color: #FAEEE7;
    
}

#heading{
        font-family: 'Aclonica', sans-serif;
        color: #FAEEE7;
        display: flex ;
        /* font-size: ; */  
        margin: 0 ;
        padding: 0 1%;
        align-items: center;
}
#nav-text{
    font-family: 'Aclonica', sans-serif;
    display: flex;
    
    align-items: center;
    /* padding: 1%;  */
  
}
#nav{
    background-color: rgb(50, 82, 136);
    display: flex;
    margin: 0;
    height: 50px;
}
#list{
    padding: 1vw    ;
}
#me{
    height: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
    box-shadow: 4px;
    border-style: solid;
    border-color: #FAEEE7 ;
    border-radius: 50%;
    border-width: 3px   
    /* display: ; */

}
#cntr-img{
    padding-top: 6% ;
}
#mh{
    font-family: 'Aclonica', sans-serif;
    color:#FFC900 ;

}
#in{
    font-family: 'Aclonica', sans-serif;
    color: #FFC900;
    position: relative;
    left: 80%;
}
#place{
        position: absolute;
        left: 25%;
        top: 25%;
}